.Home {
    padding: 2rem;
}

.Home ul {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.Home h1 {
    width: 75%;
    margin: auto;
}

.BlogCard {
    background-color: var(--bg-color-1);
    border: 1px solid var(--text-color-light);
    list-style-type: none;
    border-radius: 10px;
    width: 75%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 12em;
}

.BlogCard:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s, transform 0.1s;
}

.BlogCard > a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.BlogCard-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    flex: 1;
}

.BlogCard-content h2 {
    flex: 1;
}

.BlogCard-content p {
    flex: 3;
    color: var(--text-color-light);
}

.BlogCard-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.BlogCard-content span {
    font-size: 0.75rem;
}

.BlogCard-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;        /* Number of lines to show */
    -webkit-box-orient: vertical;
    white-space: normal;          /* Allow wrapping */
    width: 100%;                  /* Or remove width for natural flow */
}